<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
    <main id="main">
        <h1>Posts</h1>
        <button id="change-color">Change colour</button>
        <ol>
            <% postList.results.forEach(function(post) {%>
                <img src="<%= post.imageUrl %>">
                <div class="caption-background">
                    <li class="caption">
                        <span class="username"><%= post.postedBy.username %></span><%= post.message %> - posted at <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %>
                    </li>
                    <div class="container"> 
                        <form method="post" action="/posts/<%= post.id %>/like/" >
                            <button id="like-button" type="submit" >Like</button>
                        </form>
                        <form method="post" action="/posts/<%= post.id %>/dislike/" >
                            <button id="dislike-button" type="submit" >Dislike</button>
                        </form>
                    </div>
                    <p> <%= post.likedBy.length %> likes and <%= post.dislikedBy.length %> dislikes</p> 
                    <a href="">Liked by</a>
                    <ul>
                        <% post.likedBy.forEach(function(like) {%>
                            <li>
                                <%= like.username %>
                            </li>
                        <% }); %>
                    </ul>
                    <a href="">Disliked by</a>
                    <ul>
                        <% post.dislikedBy.forEach(function(dislike) {%>
                            <li>
                                <%= dislike.username %>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            <% }); %>
        </ol>
    </main>
    <div class="bottom-nav">
        <a href="<%= postList.previous %>">Previous</a>
        <a href="<%= postList.next %>">Next</a>
    </div>
</body>
<%- include('_footer') -%>
</html>