<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <main>
        <h1>Posts</h1>
        <ol>
            <% postList.results.forEach(function(post) {%>
                <img src="<%= post.imageUrl %>">
                <li class="caption">
                    <span class="username"><%= post.postedBy.username %></span>: <%= post.message %> - posted at <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %>
                </li>
                <form method="post" action="/posts/<%= post.id %>/like/" >
                    <button type="submit" >Like</button>
                </form>
                <form method="post" action="/posts/<%= post.id %>/dislike/" >
                    <button type="submit" >Dislike</button>
                </form>
                <p> <%= post.likedBy.length %> likes and <%= post.dislikedBy.length %> dislikes</p> 
                <a href="">Liked by</a>
                <ul>
                    <% post.likedBy.forEach(function(like) {%>
                        <li>
                            <%= like.username %>
                        </li>
                    <% }); %>
                </ul>
                <a href="">Disliked by</a>
                <ul>
                    <% post.dislikedBy.forEach(function(dislike) {%>
                        <li>
                            <%= dislike.username %>
                        </li>
                    <% }); %>
                </ul>
            <% }); %>
        </ol>
    </main>
    <nav>
        <a href="<%= postList.previous %>">Previous</a>
        <a href="<%= postList.next %>">Next</a>
    </nav>
</body>
<%- include('_footer') -%>
</html>